<div class="row justify-content-md-center px-4">
  <div class="col-11 px-md-5">
    <div class="mx-5">
      <div class="d-flex bd-highlight">
        <input [(ngModel)]="title" class="form-control form-control-lg border lightWhiteBckg mt-5"
          placeholder="Search Books. eg. The Lord of the Rings"
          style="font-family:Arial, Helvetica, sans-serif, FontAwesome" type="search" aria-label="Search"
          (keyup.enter)="search()">
        <button class="btn btn-danger btn-sm rounded-end mt-5" (click)="search()">
          <i class="fa fa-search text-white"></i> </button>
      </div>
    </div>

    <div class="row justify-content-md-center p-4">
      <div class="col-12 col-md-6 col-lg-3 mb-4"
        *ngFor="let list of booksList | paginate: { itemsPerPage: 12, currentPage: page, totalItems: totalRecords }; let i = index">
        <div class="card h-100 box shadow corner1" (click)="viewBookDetails(list)">
          <div class="card-body ">
            <div class="">
              <h6 class="card-title ">Title: <span class="highlight">{{ list?.title }}</span></h6>

              <!-- <div style="display: flex; align-items: center;">
                <span class="font-weight-bold" (click)="viewBookDetails(list)">Key: {{ list?.key }}</span>
              </div> -->

              <!-- <button (click)="viewBookDetails(list)" class="btn rounded-circle shadow p-1 mr-1">
                <img src="https://img.icons8.com/material-outlined/20/000066/visible--v1.png" />
              </button> -->
              <div class="row mt-2">
                <h6 class="card-text font-weight-bold pt-2">
                  Author: <span *ngFor="let item of list.author_name">{{item}}</span></h6>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

    <pagination-controls *ngIf="booksList.length != 0" (pageChange)="page = $event"></pagination-controls>

  </div>

</div>